{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

      <table class="table">
        <!-- cafes holds CafeRatings db by rows -->
        <th>
          <tr>
 
            <th>Cafe Name</th>
            <th>Location</th>
            <th>Open Time</th>
            <th>Close Time</th>
            <th>Coffee</th>
            <th>Wifi</th>
            <th>Sockets</th>

         </tr>
        </th>

          {% for row in cafes: %}
            <tr>
              <td>{{ row.cafe_name }}</td>
              <td>{{ row.location }}</td>
              <td>{{ row.open_time }}</td>
              <td>{{ row.close_time }}</td>
              <td>{{ row.coffee_rating }}</td>
              <td>{{ row.wifi_rating }}</td>
              <td>{{ row.socket_rating }}</td>
            </tr>
          {% endfor %}
      </table>
      <p><a class="text-light" href="{{url_for('add_cafe')}}">Add Cafe to Rating</a></p>
      <p><a class="text-light" href="{{url_for('home')}}">Return to index page</a></p>
    </div>
  </div>
  <div class="fill-remaining bg-dark"></div>
</div>

{% endblock %}