{% extends 'bootstrap/base.html' %}

{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-dark text-light">
    <div class="container-fluid">
  <h1 class="display-4">☕️ Coffee, Wifi, Sockets 💻</h1>
  <p class="lead">Discover cafes by what matters</p>
  <hr class="my-4">
  <p> The list of cafes built to help others find cafes suited towards their needs. </p>
  <p> Feel free to contribute! </p>
  <a class="btn btn-warning btn-lg" href="{{url_for('cafes')}}" role="button">Find your next workspace!</a>
</div>
    </div>

{% endblock %}
